<footer class="w-full h-full md:h-full pt-6">
    <section class="md:flex items-center text-center justify-around">
        <section class="">
            <h3 class="text-lg font-bold md:pb-2">Know Us</h3>
            <ul class="">
                <li><a href="">Our Story</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Locate Us</a></li>
                <li><a href="/blog/cakeblog">Blogs</a></li>
            </ul>
        </section>
        <section class="pt-6">
            <h3 class="text-lg font-bold md:pb-2">Need Help</h3>
            <ul class="">
                <li><a href="tel:+918486005943">Call Us</a></li>
                <li><a href="">Mail Us</a></li>
                <li><a href="">Cancellation and Refund</a></li>
                <li><a href="">Privacy Policy</a></li>
            </ul>
        </section>
        <section class="pt-6">
            <h3 class="text-lg font-bold md:pb-2">Find Us</h3>
            <ul class="">
                <a  href=""><i class="fab fa-facebook"></i></a>
                <a class="pl-4" href=""><i class="fab fa-instagram"></i></a>
                <a class="pl-4" href=""><i class="fab fa-twitter"></i></a>
                <a class="pl-4" href=""><i class="fab fa-youtube"></i></a>

                <div class="news pt-2">
                    <h3 class="">Subscribe Our Newsletter</h3>
                <input class="rounded-full px-2 py-.6 focus:none" type="email" name="" id="subscribeEmail" placeholder="Enter Email Adress">
                <!-- <br class=""> -->
                <button type="submit" class="btn-primary rounded-full px-3 py- mt-2 bg-red-500">Subscribe</button>
                </div>
            </ul>
        </section>
    </section>
    <section class="pt-4">
        <hr>
        <p class="text-center">©Baketion.com | Managed by Rachna Harlalka</p>
    </section>
</footer>